<!DOCTYPE html>
<html>
<head>
	<title>About Us - BeatBuddy </title>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

	<header>
		<nav>
			<div class="logo">
				<a href="/">BeatBuddy </a>
			</div>
			<ul class="nav-links">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>

<body>

			<h1>About Us</h1>

			<p> Welcome to our music recommendation platform!<br>
				We are passionate about music and believe that everyone should
				be able to discover new songs and artists that they love.

				<br><br>
				Our platform uses a powerful recommendation algorithm to suggest
				songs that are similar to your favorite artist and genres.
				We use machine learning techniques to analyze the lyrics of songs and compare them to other songs in
				our database, in order to provide you with the most accurate and personalized recommendations possible.</p>

			<br>
			<p>We have a large and constantly-growing database of songs from a variety of genres and artists,
				so you can always find something new to listen to. Whether you're a fan of pop, rock, hip-hop,
				or any other genre, we have recommendations that will suit your tastes.
				We are dedicated to providing a seamless and enjoyable user experience.
				Our platform is easy to use and navigate, and we are always working to improve
				our algorithms and add new features to make your music discovery journey even more exciting.</p>

			<br>
			<p>Thank you for choosing our music recommendation platform.<br><br> We hope you enjoy discovering
				new songs and artists with us!</p>


  <footer>
    <p>&copy; Music Recommender System</p>
     <p> Created by <span> Yash & Humzah </span> | All @rights reserved to MusicCloud 2023 </p>
    </footer>

</body>
</html>
